<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Youtube-DL web ui</title>
    <link rel="stylesheet" th:href="@{/public/css/main.css}"/>
</head>
<body>
<!--<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">-->
<!--    <a class="navbar-brand" href="#">Home</a>-->
<!--</nav>-->

<main class="container" role="main">
    <div>
        <h1>Youtube-dl web ui</h1>
    </div>

<div class="downloadPanel">
    <form action="/" role="form" th:action="@{/home/addEntry}" th:object="${entry}" method="post">
        <div>
            <input type="text" th:field="*{ytUrl}" pattern="^(?:http(s)?:\/\/)?[\w.-]+(?:\.[\w\.-]+)+[\w\-\._~:/?#[\]@!\$&'\(\)\*\+,;=.]+$"/>
            <button class="button_start_download" type="submit" th:text="'▶'" />
        </div>
    </form>

    <ul class="downloadList">
        <li class="downloadList__item" th:each="entry: ${entries}">
            <div>
                <span class="video__name" th:text="${entry.ytUrl}"/>
                <span class="right_float" th:if="${!entry.finished and not (entry.progress > 99)}" th:text="${entry.progress}"/>
                <button class="right_float" th:if="${entry.finished and (entry.progress > 99)}" th:text="Download" type="submit" th:value="${entry.fileUri}"/>
            </div>
            <div class="error_message" th:if="${entry.errorMessage}">
                <span class="error_message" th:if="${entry.errorMessage}" th:text="${entry.errorMessage}"/>
            </div>
        </li>
    </ul>
</div>

</main>

</body>
</html>