<div class="container">
  <h2>Download queue</h2>
  <table class="table">
    <thead>
      <td class="column-header">ID</td>
      <td class="column-header">URL</td>
      <td class="column-header">In progress</td>
      <td class="column-header">finished</td>
    </thead>
    <tbody>
      <tr *ngFor="let entry of entries">
        <td>{{entry.id}}</td>
        <td>{{entry.url}}</td>
        <td>{{entry.progress}}</td>
        <td>{{entry.finished}}</td>
      </tr>
    </tbody>
  </table>
</div>
