<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">
    <title>Youtube-DL web ui</title>
    <link rel="stylesheet" th:href="@{/public/css/main.css}"/>
</head>
<body>
<!--<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">-->
<!--    <a class="navbar-brand" href="#">Home</a>-->
<!--</nav>-->

<main class="container" role="main">
    <div>
        <h1>Youtube-dl web ui</h1>
    </div>

<div class="downloadPanel">
    <form action="/" method="post" role="form" th:action="@{/home/addEntry}" th:object="${entry}">
        <div>
            <input pattern="^(?:http(s)?:\/\/)?[\w.-]+(?:\.[\w\.-]+)+[\w\-\._~:/?#[\]@!\$&'\(\)\*\+,;=.]+$" th:field="*{ytUrl}" type="text"/>
            <select name="formatOption" th:field="*{formatOption}">
                <option th:each="formatOption : ${T(com.github.lubbyhst.youtubedlwebui.enums.FormatOptions).values()}"
                        th:text="${formatOption.displayedName}" th:value="${formatOption}"></option>
            </select>
            <button class="button_start_download" onclick="retrieveEntryList()" th:text="'▶'" type="submit"/>
        </div>
    </form>
    <div id="entryList-bloc" th:fragment="entryList" th:unless="${#lists.isEmpty(entries)}">
        <ul class="downloadList">
            <li class="downloadList__item" th:each="entry: ${entries}">
                <div>
                    <span class="video__name" th:if="${entry.videoName == null}" th:text="${entry.ytUrl}"/>
                    <span class="video__name" th:if="${entry.videoName != null}" th:text="${entry.videoName}"/>

                    <span class="right_float" th:if="${!entry.finished and not (entry.progress > 99)}"
                          th:text="${entry.progress}"/>
                    <a class="right_float button" th:href="@{|/home/download?id=${entry.id}|}"
                       th:if="${entry.finished and (entry.progress > 99)}"><span th:text="Download"/></a>
                </div>
                <div class="error_message" th:if="${entry.errorMessage}">
                    <span class="error_message" th:if="${entry.errorMessage}" th:text="${entry.errorMessage}"/>
                </div>
            </li>
        </ul>
    </div>
</div>

</main>
<script th:src="@{/public/js/main.js}" type="text/javascript"/>
</body>
</html>